@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
}

.forecast {
    width: 1700px;
    background: #fff;
    border-radius: 7px;
}

.forecast header {
        color: #0033CC; 
        font-size: 37px;
        font-weight: 500;
        padding: 16px 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #bfbfbf;
        
        
}

header .img{
    margin-left: 10px;
    
}

header i{
    cursor: pointer;
    font-size: 37px;
    margin-right: 8px;
}
.weather-forecast h2{
    font-size: 25px;
    margin: 20px 0;
}

.forecast-cards{
    display: flex;
    gap: 20px;
}

.forecast-cards .card{
    
    background: #fff;
    border-radius: 7px;
    padding: 18px 16px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: calc(100% / 7);
    list-style: none;
}

weather-forcast .separator {
    height: 1px;
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.separator::before {
    color: #ccc;
    font-size: 20px;
    padding: 0,15px;
    background: #fff;
}

.packing-recommendation h2{
    font-size: 25px;
    margin: 20px 0;
}
.packing-recommendation h3 {
    font-size: 20px;
    margin: 10px 0;
}
.packing-recommendation .list {
   
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    margin-left: 20px;
}



