@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
}

.wrapper {
    width: 500px;
    background: #fff;
    border-radius: 7px;
}

.wrapper header {
        color: #0033CC; 
        font-size: 37px;
        font-weight: 500;
        padding: 16px 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #bfbfbf;
        
}

header .img{
    margin-left: 5px;
    padding-left: 5px;
}

header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}


.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
} 
.wrapper .search-container {
    text-align: center;
    margin: 20px 25px 30px;
}
.wrapper.active .search-container {
    display: none; 
}
.search-container .info{
    display: none;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 12px 10px;
    border-radius: 7px;
}

.info.error {
    display: block;
    color: #721c24;
    background: #f5c6cb;
    border: 1px solid #f5c6cb;
}

.info.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}



.search-container :where(input, button) {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.search-container input {
    text-align: center;
    border: 1px solid #ccc;
}

.search-container input:is(focus, :valid) {
    border: 2px solid #0033CC;
}

.search-container .separator {
    height: 1px;
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.separator::before{
    content: 'or';
    color: #ccc;
    font-size: 20px;
    padding: 0,15px;
    background: #fff;
}

.search-container button {
    margin-top: 10px;
    background: #0033CC;
    color: #fff;
    cursor: pointer;
}



.search-input {
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    font-size: 20px;
}

.search-button {
    padding: 17px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

    .search-button:hover {
        background-color: #45a049;
    }

    .search-button:active {
        background-color: #3e8e41;
    }

.wrapper .weather-part{
 margin: 30px 0 0;
 display: none;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.wrapper.active .weather-part {
    display: flex;
}

.weather-part img{
    max-width: 125px;

}

.weather-part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .numb{
    font-weight: 600;
}

.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

weather-part .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.location i{
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #bfbfbf;
    justify-content: space-between;
}

.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.column i{
    color: #0033cc;
    font-size: 40px

}

.column.humidity{
    border-left: 1px solid #bfbfbf;
}

.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    pad: 0 2px 0 1px;
}

.details p{
    font-size: 14px;
    margin-top:-6px;
}
